<div>
  <div class="text-danger">
    <ng-content select="[head]"></ng-content>

  </div>
  <div>
    <ng-content select="[body]"></ng-content>
  </div>
  <div class="text-info">
    <ng-content select="[footer]"></ng-content>
  </div>
</div>
<app-user-list #userlist></app-user-list>
<p #mydiv>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores dignissimos quos, accusantium corrupti voluptates
  itaque sequi repellendus illum at obcaecati provident debitis, ex amet ad dolorem commodi! Explicabo, expedita vitae.
</p>
<p #mydiv2>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores dignissimos quos, accusantium corrupti voluptates
  itaque sequi repellendus illum at obcaecati provident debitis, ex amet ad dolorem commodi! Explicabo, expedita vitae.
</p>
<p #mydiv2>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores dignissimos quos, accusantium corrupti voluptates
  itaque sequi repellendus illum at obcaecati provident debitis, ex amet ad dolorem commodi! Explicabo, expedita vitae.
</p>
<p #mydiv2>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores dignissimos quos, accusantium corrupti voluptates
  itaque sequi repellendus illum at obcaecati provident debitis, ex amet ad dolorem commodi! Explicabo, expedita vitae.
</p>
